.SearchBar {
	height: 28px;
	width: 162px;
	position: relative;
}

.SearchBar__input {
	width: 100%;
	border: 1px solid #c2c2c2;
	height: inherit;
	font-family: inherit;
	font-size: 12px;
	box-sizing: border-box;
	padding: 0 10px;
	background-color: transparent;
	position: relative;
	z-index: 1;
}

.SearchBar__input:focus {
	background-color: #f8f8f8;
	border-color: #911026;
}

.SearchBar__placeholder {
	color: #c2c2c2;
	position: absolute;
	left: 29.5px;
	top: 7px;
	z-index: 0.5;
	font-size: 12px;
}

.SearchBar svg {
	font-size: 12px;
	margin-right: 3px; 
}

@media only screen and (max-width: 1120px) {
	.SearchBar {
		height: 6.1vw;
		width: 34.1vw;
		position: relative;
	}

	.SearchBar__input {
		padding: 0 3.1vw;
		border-color: transparent;
		border-width: 0.3vw;
		font-size: 3.6vw;
	}

	.SearchBar__placeholder {
		left: 1.5vw;
		top: 1.1vw;
		font-size: 3.6vw;
	}

	.SearchBar svg {
		font-size: 3.6vw;
	}
}