.RecipeItem {
	width: 312px;
	padding: 20px calc( (100% - 312px * 3)/6 );
}

.RecipeItem:hover {
  cursor: pointer;
  color: #911026;
}

.RecipeItem__img {
  height: 190px;
  overflow: hidden;
}

.RecipeItem img {
	width: 100%;
}

.RecipeItem__name {
	font-size: 16.5px;
	margin-top: 9px;
}

.RecipeItem__stats {
	font-size: 14px;
	margin-top: 7.5px;
}

.RecipeItem svg {
	height: 11px
}

@media only screen and (max-width: 1120px) {
  .RecipeItem {
    width: 100%;
    padding-top: 0;
  }

  .RecipeItem>img {
    height: 64.7vw;
  }

  .RecipeItem__name {
    font-size: 5.2vw;
    margin-top: 2.8vw;
  }

  .RecipeItem__stats {
    font-size: 4.4vw;
    margin-top: 2.3vw;
  }

  .RecipeItem svg {
    height: 3.4vw;
  }

  .RecipeItem__description {
    padding: 0 6.9vw;
  }
}