.ItemsList {
  margin: 81px 0;
	padding: 18px 33px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  box-shadow: 0 0 13px 0 rgba(11, 12, 12, 0.15);
}

.ItemsList__empty-list {
  height: 200px;
  margin: 81px 0;
  padding: 18px 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 13px 0 rgba(11, 12, 12, 0.15);
  font-size: 50px;
}

@media only screen and (max-width: 1120px) {
  .ItemsList {
    padding:  0;
    margin: 0;
    box-shadow: none;
  }

  .ItemsList__empty-list {
    margin: 0;
    padding: 0;
    box-shadow: none;
    font-size: 50px;
  }
}